# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dev-dist
*.local

# Editor directories and files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env

# Testing
coverage/

# Build Stats
stats.html

# Capacitor
.capacitor/
android/app/build/
android/.gradle/
android/.idea/
android/local.properties
ios/App/public/
ios/App/App/public/